{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Search</title>
</head>
<body>
<nav class="navbar bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Search</a>
    </li>
  </ul>
</nav>
<h3>Search</h3>
<p>right now this just lists all users but we can filter for what user search's for</p>
{% block results %}
<div>
    {% for u in users %}
        <h3>{{ u}}</h3>
    {% endfor %}
    {% for c in courses %}
        <h3>{{ c }}</h3>
    {% endfor %}

</div>
{% endblock results %}
</body>
</html>